html {
  margin: 20
  px;
}

body {
  background-color: rgb(172, 110, 115);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
}

h1 {
  color: rgb(251, 0, 255);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.75em
}

div{

  border width: border:;20px;
  height
}
